/*selector {
    propiedad: valor;
}*/


@font-face {
    font-family: air americana;
    src: url(../fonts/AIR\ AMERICANA.TTF);
    font-family: cursive;
    src: url(../fonts/ritts\ cursive.ttf);
    font-family: bebas;
    src: url(../fonts/BEBASNEUE\ BOLD.OTF);
}

::selection {
    background-color: #dcdcdc;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
}

* {
    margin: 0;
    padding: 0;
}

/*GENERAL*/

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: black;
}


.footerIcono{
    margin: 0 auto;
    position: relative;
    width: 3rem;
    height: 3rem;
}

.logo {
    float: right;
    width: auto;
    height: 10rem;
}

.footertext {
    font-size: 1.3rem;
    display: flex;
    width: 45%;
    color: white;
}

.pie-pagina{
    width: 100%;
    background-color: rgb(82, 29, 29);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #2c0f0f;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #2c0f0f;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/*INDEX*/

/*HEADER PAGINA PRINCIPAL*/
.minilogo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0%;
    right: 5%;
    width: 7rem;
    height: 7rem;
    z-index: 1000; 
}

.minilogoI {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    margin: 1rem;
    margin-right: 1rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: air americana;
    font-size: 3rem;
    margin: 1rem;
}

.nav-item {
    margin: 1rem;
}

.mainheader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 4rem;
    text-align: center;
    list-style-type: none;
    position: fixed;
    width: 100%;
    z-index: 1000; 
}

.mainheader li {
    display: flex;
    font-size: 3rem;
    font-family: air americana; 
    display: inline-block;
    margin-right: 3rem;
    z-index: 100; 
}

/*PRINCIPAL*/

/*MAIN*/

/* services */
.services{
    background: white;
    padding: 2rem 1rem;
}
.services .title{
    text-align: center;
}
.title h1{
    padding-top: 5rem;
    font-size: 2rem;
    text-transform: capitalize;
}
.title span{
    color: brown;
}
.title .slogan{
    font-size: 1rem;
    color: gray;
}
.services_boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.services_boxes .box {
    width: 100%;
    height: 22rem;
    background: gainsboro;
    padding: 2rem;
    margin: 1rem 2rem;
    margin-bottom: 5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 30px 20px rgba(0, 0, 0, 0.1);
    background-color: gainsboro; 
    border: 1rem solid antiquewhite;
    color: #fff; 
}
.services_boxes .box h2{
    margin: 0;
}
.services_boxes .box p{
    color: black;
    margin-top: 0;
}
.services_boxes .box:hover, .br{
    border: 2px solid brown;
}

.novedades {
    box-shadow: 1px 30px 20px rgba(0, 0, 0, 0.1);
    border: 0.5rem solid antiquewhite;
    background-color: rgba(0, 0, 0, 0.8);
}
.novedades h2 {
    font-size: 2rem;
    font-family: bebas;
}
.novedades p {
    font-size: 1.5rem;
}

.novedades .imagen {
    margin: 2rem;
}

.imagenNovedades{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagen{
    display: flex;
    margin: 0 ;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.iconoHamb {
    width: 10rem;
    height: 10rem;
    margin: 0;
}

.iconoUbi  {
    width: 10rem;
    height: 10rem;
    margin: 0;
}

.section2 {
    width: 100%;
    height: 90rem;
}

@media (min-width: 768px) and (max-width: 1080px) {
    .iconoHamb  {
        height: 10rem;
        width: 10rem;
    }
    .iconoUbi  {
        height: 10rem;
        width: 10rem;
    }
    .services_boxes .box{
        width: 50%;
        height: 50%;
    }
    .title h1{
        padding-top: 10rem;
        font-size: 2rem;
        text-transform: capitalize;
    }
    .services_boxes .box {
        margin-bottom: 10rem;
    }
    .novedades h2{
        font-family: bebas;
        font-size: 3rem;
    }
    .novedades p{
        font-size: 2rem;
    }
}

@media (min-width: 1080) and (max-width: 1440px) {
    .novedades h2{
        font-family: bebas;
        font-size: 10rem;
    }
    .novedades p{
        font-size: 5rem;
    }
}    



/*UBICACION*/

/*MAIN*/

.ubicacionHorarios.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cajaHorarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 25rem;
    border: 1rem solid antiquewhite;
    font-family: bebas;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mapa {
    margin: 2rem;
    height: 50rem;
    width: 100%;
}

.cajaUbicacion {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8); 
    border: 1rem solid antiquewhite;
    color: #fff; 
    padding: 2rem; 
    height: 57rem;
    width: 100%;
    top: 40%;
    left: 50%;
    font-family: bebas;
    font-size: 2rem;
}

/*SOBRE NOSOTROS*/

/*MAIN*/

.imagenRestaurante {
    margin: 10px;
    width: 30rem;
    height: 30rem;
}

.textoRestaurante {
    padding: 20px; 
    height: 50rem;
    width: 40rem;
    top: 30%;
    left: 50%;
    font-family: bebas;
    font-size: 2rem;
}

.restaurante { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 40rem;
    width: 70rem;
    border: 0.5rem solid antiquewhite;
    margin-top: 2rem;
}

.imagenMuseo {
    margin: 1rem;
    width: 30rem;
    height: 30rem;
}

.textoMuseo {
    padding: 20px; 
    height: 50rem;
    width: 40rem;
    font-family: bebas;
    font-size: 2rem;
}

.museo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 2rem; 
    height: 40rem;
    width: 70rem;
    border: 0.5rem solid antiquewhite;
    margin-top: 2rem;
}

.redesSNF {
    margin: 10px;
    width: 10rem;
    height: 10rem;
    top: 9rem;
    left: 5rem;
}
.redesSNI {
    margin: 10px;
    width: 10rem;
    height: 10rem;
    top: 7rem;
    left: 20rem;
}

.textoRedes {
    padding: 20px; 
    height: 50rem;
    width: 40rem;
    font-family: bebas;
    font-size: 2rem;
}

.redes { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 40rem;
    width: 70rem;
    border: 0.5rem solid antiquewhite;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*CONTACTO*/

.bodyC {
    background-image: url(../img/trabajo.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 120rem;
}

/*MAIN*/

.cajaRedes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 40rem;
    width: 70rem;
    border: 0.5rem solid antiquewhite;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.textoRedesT {
    margin: 2rem;
    font-size: 2rem;
    font-family: bebas;
    top: 10;
    left: 24rem;
}
.textoRedesP {
    margin: 1rem;
    font-size: 2rem;
    top: 15;
    left: 7rem;
}

.imgI {
    margin: 10px;
    width: 10rem;
    height: 10rem;
    top: 7rem;
    left: 20rem;
    overflow: hidden;
}

.imgF {
    margin: 10px;
    width: 10rem;
    height: 10rem;
    top: -3rem;
    left: 50rem;
    overflow: hidden;
}

.container .formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:gainsboro; 
    color: #fff; 
    padding: 20px; 
    height: 60rem;
    width: 70rem;
    border: 0.5rem solid antiquewhite;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

form {
    padding: 5rem 5rem;
    box-shadow: 0 0 2rem black;
    border-radius: 2rem;
    text-align: center;
    width: 34rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    color: black;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

input, textarea {
    padding: 1.7rem 2.5rem;
    border-radius: 2.5rem;
    margin-bottom: 2rem;
    background-color: gainsboro;
    border: 2px solid black;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: black;
}

.form-txt {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: black;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    font-size: 2rem;
    color: brown;
    border: 0;
    border-radius: 2rem;
    background-color: white;
    box-shadow:  0 0 2rem black;
    cursor: pointer;
}

.btn:hover {
    background-color: #dcdcdc;
}

@media (max-width:991px) {
    form {
        padding: 5rem 3rem;
        width: 100%;
    }
    input {
        padding: 1.5rem;
    }
}
/*TRABAJO*/

/*MAIN*/

.bodyT {
    background-image: url(../img/foto\ granero1\ editada.png);
    background-size: 200%;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.imagenTrabajo {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

.tituloT {
    display: inline-block;
    position: relative;
    left: 25%;
    font-family: cursive;
    font-size: 2rem;
    color: antiquewhite;
    border: 0.5rem solid antiquewhite;
    background-color: rgba(0, 0, 0, 0.8);
}
/*FORMULARIO*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: none;
    border-radius: 0.25em;
    box-shadow: 0 0 0 1px gray;
}

input[type="file"] {
    margin-bottom: 1em;
}

input[type="submit"] {
    background-color: brown;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: brown;
}

.cajaFormularioCV {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 50rem;
    width: 70rem;
    margin: 2rem;
    position: relative;
    border: 1rem solid antiquewhite;
    top: 10rem;
    left: 20%;
}

/*MENU*/

/*MENU*/
.bodyMenu {
    background-image: url(../img/Granero.Menu_DSC_4054.jpg);
    margin-bottom: 20rem;
}
.bodyMenu .listfooter {
    bottom: -32rem;
}

/*HEADER*/

.headerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 98%;
    width: 40rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #333;
    color: #fff;
    border: 1rem solid antiquewhite;
}

.navMenu {
    margin-top: 30rem;
}

.HM {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.headerM {
    margin-bottom: 20px;
}

.headerTextMenu {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    font-family: air americana;
}

/*MAIN*/

.recordatorio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-family: cursive;
    font-size: 2rem;
    color: white;
    border: 1rem solid antiquewhite;
    background-color: rgba(0, 0, 0, 0.8); 
    width: 30rem;
    height: auto;
}

.tituloH {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-family: bebas;
    font-size: 4rem;
    color: white;
    border: 1rem solid antiquewhite;
    background-color: rgba(0, 0, 0, 0.8); 
    width: 22rem;
    height: 7rem;
}

.contenedortitulohamb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorSectHamb {
    position: relative;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    left: 70rem;
    width: 91rem;
    overflow: hidden;
    gap: 3rem;
}

.contenedorHamb {
    width: 27rem; 
    height: 40rem;
    margin-bottom: 20px; 
    background-color: #f5f5f5;
    padding: 4rem;
    border:  1rem solid antiquewhite;
    background-color: rgba(0, 0, 0, 0.8); 
    overflow: hidden;
}

.imagenHamb {
    display: flex;
    position: relative;
    left: -3.4rem;
    width: 24rem;
    height: 20rem;
}

.textHamb {
    text-align: center;
    font-size: 3rem;
    font-family: bebas;
    color: white;
}

