/*selector {
    propiedad: valor;
}*/


@font-face {
    font-family: air americana;
    src: url(../fonts/AIR\ AMERICANA.TTF);
    font-family: cursive;
    src: url(../fonts/ritts\ cursive.ttf);
    font-family: bebas;
    src: url(../fonts/BEBASNEUE\ BOLD.OTF);
}

::selection {
    background-color: #dcdcdc;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
}

* {
    margin: 0;
    padding: 0;
}

/*GENERAL*/

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: black;
}


.footerIcono{
    margin: 0 auto;
    position: relative;
    width: 3rem;
    height: 3rem;
}

.logo {
    float: right;
    width: auto;
    height: 10rem;
}

.footertext {
    font-size: 1.3rem;
    display: flex;
    width: 45%;
    color: white;
}

.pie-pagina{
    width: 100%;
    background-color: rgb(82, 29, 29);
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #2c0f0f;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #2c0f0f;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/*INDEX*/

/*HEADER PAGINA PRINCIPAL*/
.minilogo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0%;
    right: 5%;
    width: 7rem;
    height: 7rem;
    z-index: 1000; 
}

.minilogoI {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    margin: 1rem;
    margin-right: 1rem;
}

.navbar-nav {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: air americana;
    font-size: 3rem;
    margin: 1rem;
}

.nav-item {
    margin: 1rem;
}

.mainheader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    padding: 4rem;
    text-align: center;
    list-style-type: none;
    position: fixed;
    width: 100%;
    z-index: 1000; 
}

.mainheader li {
    display: flex;
    font-size: 3rem;
    font-family: air americana; 
    display: inline-block;
    margin-right: 3rem;
    z-index: 100; 
}

/*PRINCIPAL*/

/*MAIN*/

.imagen{
    position: center;
    display: flex;
    margin: 0 ;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.iconoHamb {
    position: absolute;
    width: 25rem;
    height: 25rem;
    top: 137rem;
    left: 30rem;
    margin: 0;
}

.iconoUbi  {
    position: absolute;
    width: 25rem;
    height: 25rem;
    top: 137rem;
    left: 75rem;
    margin: 0;
}



@media (min-width: 768px) and (max-width: 1080px) {
    .iconoHamb  {
        height: 20rem;
        width: 20rem;
        top: 180rem;
        left: 21rem;
    }
    .iconoUbi  {
        height: 20rem;
        width: 20rem;
        top: 180rem;
        left: 60rem;
    }
}





/*UBICACION*/

/*MAIN*/

.imagenUbi {
    width: 100%;
    height: auto;
    position: center;
}

.mainUbi {
    position: center;
    font-size: 2rem;
    color: aliceblue;
}

.cajaHorarios {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 13rem;
    width: 30rem;
    top: 40%;
    left: 10%;
    position: absolute;
    border: 1rem solid antiquewhite;
    font-family: bebas;
    font-size: 2rem;
}

.mapa {
    height: 45rem;
    width: 30rem;
}

.cajaUbicacion {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 50rem;
    width: 30rem;
    top: 40%;
    left: 50%;
    position: absolute;
    border: 1rem solid antiquewhite;
    font-family: bebas;
    font-size: 2rem;
}

/*SOBRE NOSOTROS*/

/*MAIN*/

.bodySN {
    background-image: url(../img/Granero.Menu_DSC_4054.jpg);
    background-size: 200%;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.imagenRestaurante {
    position: relative;
    display: block;
    margin: 10px;
    width: 30rem;
    height: 30rem;
    overflow: hidden;
}

.textoRestaurante {
    padding: 20px; 
    height: 50rem;
    width: 30rem;
    top: 30%;
    left: 50%;
    position: absolute;
    font-family: bebas;
    font-size: 2rem;
}

.restaurante { 
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 32rem;
    width: 70rem;
    position: relative;
    border: 1rem solid antiquewhite;
    top: 10rem;
    left: 10%;
    margin: 2rem;
}

.imagenMuseo {
    position: relative;
    display: block;
    margin: 10px;
    width: 30rem;
    height: 30rem;
    overflow: hidden;
    left: 55%;
}

.textoMuseo {
    padding: 20px; 
    height: 50rem;
    width: 30rem;
    left: 4%;
    top: -70%;
    position: relative;
    font-family: bebas;
    font-size: 2rem;
}

.museo {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 32rem;
    width: 70rem;
    margin: 2rem;
    position: relative;
    border: 1rem solid antiquewhite;
    top: 15rem;
    left: 40%;
}

.redesSNF {
    position: absolute;
    display: block;
    margin: 10px;
    width: 10rem;
    height: 10rem;
    top: 9rem;
    left: 5rem;
    overflow: hidden;
}
.redesSNI {
    position: relative;
    display: block;
    margin: 10px;
    width: 10rem;
    height: 10rem;
    top: 7rem;
    left: 20rem;
    overflow: hidden;
}

.textoRedes {
    padding: 20px; 
    height: 50rem;
    width: 30rem;
    top: 30%;
    left: 50%;
    position: absolute;
    font-family: bebas;
    font-size: 2rem;
}

.redes { 
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 32rem;
    width: 70rem;
    position: relative;
    border: 1rem solid antiquewhite;
    top: 20rem;
    left: 10%;
    margin: 2rem;
}

/*CONTACTO*/

.bodyC {
    background-image: url(../img/trabajo.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 120rem;
}

/*MAIN*/

.estiloForm {
    font-family: bebas;
    font-size: 2rem;
}

.cajaFormulario {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 30rem;
    width: 70rem;
    margin: 2rem;
    position: relative;
    border: 1rem solid antiquewhite;
    top: 15rem;
    left: 20%;
}

.formularioContacto {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.formulario {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.botonEnviar {
    display: inline-block;
    padding: 10px 20px;
    background-color: brown;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: bebas;
    font-size: 2rem;
}

.cajaRedes {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 30rem;
    width: 70rem;
    margin: 2rem;
    position: relative;
    border: 1rem solid antiquewhite;
    top: 30rem;
    left: 20%;
}

.textoRedesT {
    position: relative;
    margin: 2rem;
    font-size: 2rem;
    font-family: bebas;
    top: 10;
    left: 24rem;
}
.textoRedesP {
    position: relative;
    margin: 1rem;
    font-size: 2rem;
    font-family: cursive;
    top: 15;
    left: 7rem;
}

.imgI {
    position: relative;
    display: block;
    margin: 10px;
    width: 10rem;
    height: 10rem;
    top: 7rem;
    left: 20rem;
    overflow: hidden;
}

.imgF {
    position: relative;
    display: block;
    margin: 10px;
    width: 10rem;
    height: 10rem;
    top: -3rem;
    left: 50rem;
    overflow: hidden;
}

/*TRABAJO*/

/*MAIN*/

.bodyT {
    background-image: url(../img/foto\ granero1\ editada.png);
    background-size: 200%;
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.imagenTrabajo {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

.tituloT {
    display: inline-block;
    position: relative;
    left: 25%;
    font-family: cursive;
    font-size: 2rem;
    color: antiquewhite;
    border: 0.5rem solid antiquewhite;
    background-color: rgba(0, 0, 0, 0.8);
}
/*FORMULARIO*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: none;
    border-radius: 0.25em;
    box-shadow: 0 0 0 1px gray;
}

input[type="file"] {
    margin-bottom: 1em;
}

input[type="submit"] {
    background-color: brown;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: brown;
}

.cajaFormularioCV {
    background-color: rgba(0, 0, 0, 0.8); 
    color: #fff; 
    padding: 20px; 
    height: 50rem;
    width: 70rem;
    margin: 2rem;
    position: relative;
    border: 1rem solid antiquewhite;
    top: 10rem;
    left: 20%;
}

/*MENU*/

/*MENU*/
.bodyMenu {
    background-image: url(../img/Granero.Menu_DSC_4054.jpg);
    margin-bottom: 20rem;
}
.bodyMenu .listfooter {
    bottom: -32rem;
}

/*HEADER*/

.headerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 98%;
    width: 40rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #333;
    color: #fff;
    border: 1rem solid antiquewhite;
}

.navMenu {
    margin-top: 30rem;
}

.HM {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.headerM {
    margin-bottom: 20px;
}

.headerTextMenu {
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    font-family: air americana;
}

/*MAIN*/

.recordatorio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-family: cursive;
    font-size: 2rem;
    color: white;
    border: 1rem solid antiquewhite;
    background-color: rgba(0, 0, 0, 0.8); 
    width: 30rem;
    height: auto;
}

.tituloH {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-family: bebas;
    font-size: 4rem;
    color: white;
    border: 1rem solid antiquewhite;
    background-color: rgba(0, 0, 0, 0.8); 
    width: 22rem;
    height: 7rem;
}

.contenedortitulohamb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorSectHamb {
    position: relative;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    left: 70rem;
    width: 91rem;
    overflow: hidden;
    gap: 3rem;
}

.contenedorHamb {
    width: 27rem; 
    height: 40rem;
    margin-bottom: 20px; 
    background-color: #f5f5f5;
    padding: 4rem;
    border:  1rem solid antiquewhite;
    background-color: rgba(0, 0, 0, 0.8); 
    overflow: hidden;
}

.imagenHamb {
    display: flex;
    position: relative;
    left: -3.4rem;
    width: 24rem;
    height: 20rem;
}

.textHamb {
    text-align: center;
    font-size: 3rem;
    font-family: bebas;
    color: white;
}

