/*PRINCIPAL*/

/*MAIN*/


/* services */
.services{
    padding: 2rem 1rem;
    .title{
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        text-align: center;
        @keyframes tracking-in-expand {
            0% {
                letter-spacing: -0.5em;
                opacity: 0;
            }
            40% {
                opacity: 0.6;
            }
            100% {
                opacity: 1;
            }
        }
        h1{
            padding-top: 5rem;
            font-size: 2rem;
            text-transform: capitalize;
        }
        span{
            color: brown;
        }
        .slogan{
            font-size: 1rem;
            color: gray;
        }
    }
}

.services_boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    .box{
        width: 100%;
        height: 22rem;
        background: gainsboro;
        padding: 2rem;
        margin: 1rem 2rem;
        margin-bottom: 5rem;
        text-align: center;
        border-radius: 10px;
        box-shadow: 1px 30px 20px rgba(0, 0, 0, 0.1);
        background-color: gainsboro; 
        border: 1rem solid antiquewhite;
        color: #fff; 
        h2{
            margin: 0;
        }
        p{
            color: black;
            margin-top: 0;
        }
    }
    .box:hover, .br{
        border: 2px solid brown;
    }
}

.novedades {
    box-shadow: 1px 30px 20px rgba(0, 0, 0, 0.1);
    border: 0.5rem solid antiquewhite;
    background-color: rgba(0, 0, 0, 0.8);
    h2 {
        font-size: 2rem;
        font-family: bebas;
    }
    p {
        font-size: 1.5rem;
    }
    .imagen {
        margin: 2rem;
    }
}

.imagenNovedades{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.iconoHamb {
    width: 10rem;
    height: 10rem;
    margin: 0;
}

.iconoUbi  {
    width: 10rem;
    height: 10rem;
    margin: 0;
}

.section2 {
    width: 100%;
    height: 90rem;
}

@media (min-width: 768px) and (max-width: 1080px) {
    .iconoHamb  {
        height: 10rem;
        width: 10rem;
    }
    .iconoUbi  {
        height: 10rem;
        width: 10rem;
    }
    .title{
        h1{
            padding-top: 10rem;
            font-size: 2rem;
            text-transform: capitalize;
        }
    }
    .services_boxes{
        .box{
            width: 50%;
            height: 50%;
        }
        .box {
            margin-bottom: 10rem;
        }
    }
    .novedades{
        h2{
            font-family: bebas;
            font-size: 3rem;
        }
        p{
            font-size: 2rem;
        }
    }
}

@media (min-width: 1080) and (max-width: 1440px) {
    .novedades{
        h2{
            font-family: bebas;
            font-size: 10rem;
        }
        p{
            font-size: 5rem;
        }
    } 
}    
